/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b39494; /* Light gray background */
}

header {
    color: #ffffff; /* White text color */
    padding: 10px;
    text-align: center;
}
nav {
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.contact-form {
    background-color: #fbfbff; /* White background for form section */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.contact-form h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;

}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #777373;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333; /* Dark button color */
    color: #fff; /* White text color */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555; /* Darker color on hover */
}

footer {
 /* Dark background for footer */
    color: #000000; /* White text color */
    text-align: center;
    padding: 1rem;
}
